:root {
  --dark: hsl(217, 19%, 35%);
  --blue: hsl(214, 17%, 51%);
  --gray: hsl(212, 23%, 69%);
  --light: hsl(210, 46%, 95%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(342, 86%, 51%);
}

h2 {
  margin: 0;
  color: var(--dark);
  font-size: 1.5rem;
}

h5 {
  margin: 0;
  color: var(--dark);
  font-size: 1.1rem;
}

h6 {
  margin: 0;
  color: var(--gray);
  font-size: 0.8rem;
}

p {
  margin-bottom: 1.4em;
  color: var(--blue);
  font-size: 1rem;
  line-height: 1.4em;
}

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  font-family: "Manrope", sans-serif;
}

.card {
  margin: 1rem;
  max-width: 60%;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: white;
  border-radius: 1rem;
}

.image {
  background-image: url(/images/drawers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  border-radius: 1rem 0 0 1rem;
}

.card-info {
  padding: 3rem;
}

.author {
  display: grid;
  grid-template-columns: 17% 1fr 13%;
}

.author img {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
}

.author div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#share {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  background-color: var(--light);
  color: var(--dark);
}

#share:hover {
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light);
}

@media screen and (max-width: 375px) {
  .card {
    max-width: 95%;
    min-height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }

  .image {
    border-radius: 1rem 1rem 0 0;
  }

  h2 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  .author {
    grid-template-columns: 20% 1fr 20%;
  }

  .author img {
    width: 2.5rem;
    height: 2.5rem;
  }

  #share {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4rem;
  }
}
